---
import type { Block, Post, ReferencesInPage } from "@/lib/interfaces";
import NBlocksPopover from "./NBlocksPopover.astro";
import { getReferenceLink } from "@/lib/blog-helpers";
import NPagePopover from "./NPagePopover.astro";
import { REFERENCES } from "@/constants";
interface Props {
	post: Post;
	filteredReferencesInPage: ReferencesInPage[];
}
const { post, filteredReferencesInPage } = Astro.props;
const groupedReferences: Record<string, Block[]> = filteredReferencesInPage.reduce(
	(acc: Record<string, Block[]>, ref) => {
		// Group by direct_nonmedia_link and collect Block objects
		if (ref.link_to_pageid) {
			const key = ref.link_to_pageid;
			acc[key] = acc[key] || [];
			acc[key].push(ref.block);
		}

		// Group by each Href in external_hrefs and collect Block objects
		ref.other_pages.forEach((richText) => {
			if (richText.InternalHref?.PageId) {
				const key = richText.InternalHref.PageId;
				acc[key] = acc[key] || [];
				acc[key].push(ref.block);
			} else if (richText.Mention?.Page?.PageId) {
				const key = richText.Mention.Page.PageId;
				acc[key] = acc[key] || [];
				acc[key].push(ref.block);
			}
		});

		return acc;
	},
	{} as Record<string, Block[]>,
);

const entryIdLinksEntry: Record<string, [string | null, Post | null]> = {};
const blockIdLinks: Record<string, string | null> = {};
const entryIdsToDel: string[] = [];

if (groupedReferences) {
	for (const entryId of Object.keys(groupedReferences)) {
		const res_entry = await getReferenceLink(post.PageId, entryId);
		if (!res_entry[1]) {
			entryIdsToDel.push(entryId);
			continue;
		}
		entryIdLinksEntry[entryId] = res_entry;
		const blocks = groupedReferences[entryId];
		if (blocks) {
			for (const block of blocks) {
				const result = await getReferenceLink(post.PageId, undefined, block, true);
				blockIdLinks[block.Id] = result[0];
			}
		}
	}
}
entryIdsToDel.forEach((entryId) => {
	delete groupedReferences[entryId];
});
---

{
	groupedReferences && Object.keys(groupedReferences).length > 0 && (
		<>
			<div>
				<span class="font-semibold">Other Pages Mentioned On This Page</span>
				{Object.entries(groupedReferences).map(([entryId, blocks]) => {
					const entryLinks = entryIdLinksEntry[entryId];
					const entryUrl = entryLinks?.[0] || "#";
					const entryPost = entryLinks?.[1];
					const entryTitle = entryPost?.Title || entryId;
					const entryExcerpt = entryPost?.Excerpt || "";
					return (
						<div class="ml-2">
							<div class="inline-block">
								{REFERENCES && REFERENCES["popovers"] ? (
									<>
										<NPagePopover
											linkedTo={entryUrl}
											popoverSpanText={entryTitle}
											popoverTitle={entryTitle}
											postId={entryId}
											excerpt={entryExcerpt}
										/>
										{" at "}
										{blocks.map((block, index) => (
											<NBlocksPopover
												block={block}
												linkedTo={blockIdLinks[block.Id] || "#"}
												popoverSpanText={`[${index + 1}]`}
												font={"font-mono"}
											/>
										))}
									</>
								) : (
									<>
										<a href={entryUrl} class="text-link">
											{entryTitle}{" "}
										</a>
										{" at "}
										{blocks.map((block, index) => (
											<a href={blockIdLinks[block.Id] || "#"} class="font-mono text-link">
												{`[${index + 1}]`}{" "}
											</a>
										))}
									</>
								)}
							</div>
						</div>
					);
				})}
			</div>
			<br />
		</>
	)
}
