---
import config from '../../../constants-config.json';

const { title, url } = Astro.props;
const DISQUS_SHORTNAME = import.meta.env.DISQUS_SHORTNAME || process.env.DISQUS_SHORTNAME || '';

// Extract theme colors from the configuration
const theme = config.theme.colors;

const isDarkTheme = true; // Set this based on your site's theme
const bgColor = isDarkTheme ? `rgb(${theme.bg.dark})` : `rgb(${theme.bg.light})`;
const textColor = isDarkTheme ? `rgb(${theme.text.dark})` : `rgb(${theme.text.light})`;
const linkColor = isDarkTheme ? `rgb(${theme.link.dark})` : `rgb(${theme.link.light})`;
---

<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = "{{ url }}";  
        this.page.identifier = "{{ title }}";
    };
    
    (function() {  
        var d = document, s = d.createElement('script');
        s.src = `https://backlogpage.disqus.com/embed.js`;  
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<style>
  #disqus_thread {
    --disqus-bg-color: {{ bgColor }};
    --disqus-text-color: {{ textColor }};
    --disqus-link-color: {{ linkColor }};
  }

  #disqus_thread iframe {
    background-color: var(--disqus-bg-color);
    color: var(--disqus-text-color);
  }

  /* Customize the Disqus comment box */
  .disqus-thread .comment {
    background-color: var(--disqus-bg-color);
    color: var(--disqus-text-color);
  }

  /* Customize Disqus links */
  .disqus-thread a {
    color: var(--disqus-link-color);
  }
</style>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
